@media all  and (max-width:1150px) {
    .getstartnow{
        font-size: 16px;
        padding: 10px 20px;
    }
    .learnmore{
        font-size: 16px;
        padding: 10px 20px;
    }
    #navbar>div:nth-child(2){
        display: none;
    }
    #navbar>div:nth-child(3)>img{
       display: inline;
       width: 30px;
       margin-right: 25px;
    }
    #navbar{
        width: 100%;
        border-radius: 0px;
        padding: 30px 20px 30px 10px;
    }
    #navbar>div>a{
        font-size: 16px;
        padding: 7px 15px;
    }
    #header{
        margin-top: 120px;
    }
    #container1>div:nth-child(1)>h1{
        font-size: 35px;
        margin-bottom: 20px;
    }
    #container1>div:nth-child(1)>p{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    #header>div:nth-child(3)>p{
        width: 70%;
        line-height: 25px;
        font-size: 20px;
        margin: 20px auto;
    }
}
@media all and (min-width:200px) and (max-width:700px){
    #navbar>div:nth-child(3)>a{
        display: none;
    }
    #container1{
        flex-direction: column;
    }
    #container1>div{
        width: 100%;
    }
    #container1>div:nth-child(1)>h1{
        font-size: 25px;
        margin-bottom: 15px;
    }
    #container1>div:nth-child(1)>p{
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 25px;
    }
    #header>div:nth-child(3)>p{
        width: 90%;
        line-height: 20px;
        font-size: 16px;
        margin: 20px auto;
    }
    #main>div:nth-child(1)>div:nth-child(1){
        flex-direction: column;
    }
    #main>div:nth-child(1)>div:nth-child(2){
        flex-direction: column-reverse;
    }
    #main>div:nth-child(1)>div:nth-child(3){
        flex-direction: column;
    }
    #main>div:nth-child(1)>div>div{
        width: 100%;
    }
    #main>div:nth-child(1) h3{
      font-size: 16px;
      text-align: center;
    }
    #main>div:nth-child(1) h1{
        font-size: 20px;
        text-align: center;
    }
    #main>div:nth-child(1) p{
        font-size: 16px;
        text-align: center;
    }
    #main>div:nth-child(2)>h1{
        font-size: 25px;
    }
    #container1>div>div{
        flex-direction: column;
        align-items: center;
    }
    #container1>div>div>a{
        margin: 12px 0px;
    }
    #main>div:nth-child(1)>div>div>div{
        flex-direction: column;
        align-items: center;
    }
    #main>div:nth-child(1)>div>div>div>a{
        margin: 12px 0px;
    }
    #main>div:nth-child(2){
        width: 80vw;
        margin: 20px auto;
    }
    #main>div:nth-child(4){
        flex-direction:column;
    }
    #main>div:nth-child(4)>div{
        margin-bottom: 30px;
    }
    #footer>div:nth-child(1){
        flex-direction: column-reverse;
    }
    #footer>div:nth-child(1)>div{
        margin: 30px auto;
        width: 90%;
    }
    #footer>div:nth-child(2)>div{
        flex-direction: column;
    }
    #footer>div:nth-child(3)>h1{
        width: 90%;
    }
    #footer>div:nth-child(4){
        flex-direction: column-reverse;
    }
    #footer>div:nth-child(4)>div{
        width: 60%;
        margin-top: 20px;
    }
    /* #main>div:nth-child(1)>div>div>h3{

     }
     #main>div:nth-child(1)>div>div>h1{
         margin-bottom: 30px;
     }
     #main>div:nth-child(1)>div>div>p{
         margin-bottom: 10px;
       color: rgb(122, 122, 122) ;
     } */

}